<?xml version="1.0" encoding="utf-8"?>
<packages>
  <Reference Include="Microsoft.CodeAnalysis" version="1.0.0" targetFramework="net45" />
  <Reference Include="Microsoft.CodeAnalysis.Analyzers" version="1.0.0" targetFramework="net45" />
  <Reference Include="Microsoft.CodeAnalysis.Common" version="1.0.0" targetFramework="net45" />
  <Reference Include="Microsoft.CodeAnalysis.CSharp" version="1.0.0" targetFramework="net45" />
  <Reference Include="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.0.0" targetFramework="net45" />
  <Reference Include="Microsoft.CodeAnalysis.VisualBasic" version="1.0.0" targetFramework="net45" />
  <Reference Include="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="1.0.0" targetFramework="net45" />
  <Reference Include="Microsoft.CodeAnalysis.Workspaces.Common" version="1.0.0" targetFramework="net45" />
  <Reference Include="Microsoft.Composition" version="1.0.27" targetFramework="net45" />
  <Reference Include="System.Collections.Immutable" version="1.1.36" targetFramework="net45" />
  <Reference Include="System.Reflection.Metadata" version="1.0.21" targetFramework="net45" />
</packages>
